body {
background-repeat: repeat;
background-image: url(record.png);
margin: 0;
}
header {
  background-color: #319b42;
  color: #f3e500;
  text-align: center;
 }
 main {
   background-color: #888b8d;
   padding: 1em;
 }
